.footer{
    background-color: black;
}
.footer__row{
    display: flex;
    justify-content: center;
}
.icon{
    background: orange;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 15px;
    justify-content: center;
    display: flex;
}
.icons{
    color:#ffffff;
    height:40px !important;
}
.copy__right{
    height: 20px;
    background: orange;
    color: white;
    text-align: center;
}