.header{
    background-color:#131921;
    display: flex;
    align-items: center;
    
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;   
}
.header__optionOne{
    font-size: 10px;
}

.header__optionTwo{
    font-size: 13px;
    font-weight: 80;
}

.header__link{
    color: white;
    text-decoration: none;
}



.header__search {
    display: flex;
    flex: 1;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    height: 22px !important;
    padding: 5px;
    background-color: chocolate;
}